.root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: fixed;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
}

.field {
    width: 100%;
    height: 100%;
    top: 0;
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.baloon {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: violet;
    border: solid 2px pink;
    position: absolute;
    z-index: 0;
}

.menu {
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.score {
    font-size: xx-large;
    background: none;
    color: green;
    border: none;
    background-color: greenyellow;
    opacity: .8;
    padding: 1vh;
    border: solid 2px white;
}

.play {
    font-size: xx-large;
    background: none;
    color: green;
    border: none;
    background-color: greenyellow;
    opacity: .8;
    padding: 1vh;
    border: solid 2px white;

}

.form {
    background-color: greenyellow;
    opacity: .8;
    z-index: 1;
    margin: 2vh 1vh auto;
    max-width: 100vh;
    padding: 2vh 1vh;
    box-sizing: border-box;
}

.input {
    font-size: xx-large;
    margin: 0 auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.submit {
    font-size: xx-large;
    margin: 2vh auto 0;
    display: block;
    width: 100%;
    max-width: 100vh;
}

.row {
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-around;
    color: green;
    font-size: xx-large;
    border: solid 1px greenyellow;
}

.leaderboard {
    margin: 0 auto 0;
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
    z-index: 4;
}

* {
    margin: 0;
    padding: 0;
}